@charset "utf-8";

:root {
 --bgcolor: #ffffff;
 --fgcolor: #2c2c2c;
 --accolor: #508ce9;
 --fggray: #4b4b4b;
 --bggray: #eaeaea;
}

@media (prefers-color-scheme: dark) {
 :root {
  --bgcolor: #323232;
  --fgcolor: #ffffff;
  --accolor: #508ce9;
  --fggray: #8e8e8e;
  --bggray: #3e3e3e;
 }
}

body {
 margin: 0;
 font: 300 10pt/1.1 'Hiragino Sans',sans-serif;
 background-color: var(--bgcolor);
 color: var(--fgcolor);
}
main {
 margin: 2em auto;
 width: 310px;
 display: flex;
 flex-flow: row wrap;
 justify-content: left;
}
@media screen and (min-width: 620px){
 main {
  width: 620px;
 }
}
header {
 width: 100%;
 margin: 2em 0;
}
table {
 width: 310px;
 table-layout: fixed;
 margin-bottom: 1.5em;
}
tr:first-child {
 font-family: 'Helvetica',sans-serif;
 color: var(--fggray);
}
td {
 white-space: nowrap;
 height: 1.1em;
}
td.r {
 text-align: right;
}
